JuegoPreguntas/JuegoPreguntas/bin/
JuegoPreguntas/JuegoPreguntas/obj/
JuegoPreguntas/.vs/
JuegoPreguntas/.vs/JuegoPreguntas/v16/.suo
/JuegoPreguntas/ReglasDeNegocio/bin/Debug/netcoreapp3.1
/JuegoPreguntas/ReglasDeNegocio/obj
